.AboutOasis {
    padding: 50px 23px 23px;
}

.AboutOasisContainer {
    max-width: 1039px;
    margin: 0 auto;
}

.AboutOasisBg {
    background-image: linear-gradient(90deg, var(--blue-light), var(--dark-blue) 53%);
    border-radius: 15px;
    padding-top: 54px;
    padding-bottom: 54px;
}

.AboutOasisContent {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.AboutOasisHeader {
    font-family: 'Euclid Circular B', sans-serif;
    width: 100%;
    color: var(--white);
    letter-spacing: -.04em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 106%;
    text-align: center;
    font-size: 32px;
}

.AboutOasisText {
    font-family: 'Euclid Circular B', sans-serif;
    color: var(--white);
    letter-spacing: -.04em;
    margin-top: 17px;
    font-weight: 300;
    line-height: 120%;
    text-align: center;
    font-size: 20px;
}

.AboutOasisLink {
    color: var(--white);
    text-decoration: underline;
}

.AboutOasisImage {
    width: 100%;
    max-width: 250px;
}

@media (min-width: 1039px) {
    .AboutOasis {
        padding: 54px;
    }

    .AboutOasisContent {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-left: 102px;
        padding-right: 32px;
        gap: 0;
    }

    .AboutOasisHeader {
        max-width: 602px;
        font-size: 42px;
    }

    .AboutOasisText {
        max-width: 405px;
        font-size: 28px;
    }

    .AboutOasisImage {
        width: 100%;
        max-width: 427px;
    }
}