.header {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    padding: 20px;
    overflow: hidden;
}

.header::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5%;
    right: -5%;
    width: 110%;
    height: 100%;
    content: " ";
    background: url('../../images/hero-banner-bg.svg') no-repeat;
    background-size: cover;
    z-index: -1;
    border-radius: 30px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.logo {
    width: 241px;
    height: auto;
}

.headerContent {
    padding-top: 20px;
    text-align: center;
}

.headerTitle {
    color: var(--white);
}

.headerSubTitle {
    margin-bottom: 40px;
    color: var(--aqua);
}

@media (min-width: 768px) {
    .header {
        padding: 60px 120px;
    }

    .headerContent {
        text-align: left;
        margin-top: 80px;
    }
}
