.InfoMessage {
    font-family: 'Euclid Circular B', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 106%;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.InfoMessage:first-letter {
    text-transform: capitalize;
}

.small {
    font-weight: 500;
    font-size: 21px;
}