.locationLink {
    display: inline-block;
    line-height: 120%;
    color: currentColor;
}

.locationLink span {
    text-decoration: underline;
}

.locationBox {
    display: inline-flex;
    align-items: center;
    gap: 20px
}
