.solveRiddleBanner {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 30px;
}

.solveRiddleBannerContainer {
    position: relative;
    max-width: 1064px;
    margin: 0 auto;
    border-radius: 12px;
    background: linear-gradient(180deg, #DCEEFF 0%, #DCEEFF 100%);
    box-shadow: -2px 3px 10px 0 rgba(51, 153, 255, 0.50);
}

.solveRiddleBannerContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: inherit;
    padding: 22px 50px;
}

.solveRiddleBannerCol {
    flex: 1 0 100%;
}

.secondary.secondary {
    display: flex;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
}

.computer {
    display: block;
    width: 180px;
    height: auto;
    margin: 0 auto;
}

.infoMessage {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.96px;
    margin: 35px 0 16px;
}

@media (min-width: 768px) {
    .solveRiddleBannerContent {
        flex-direction: row-reverse;
        position: inherit;
        padding: 42px 50px 64px 100px;
        gap: 120px;
    }

    .solveRiddleBannerCol {
        flex: 1 0;
    }

    .secondary.secondary {
        font-size: 24px;
        font-weight: 500;
        margin: unset;
    }

    .computer {
        width: 378px;
    }

    .infoMessage {
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1.44px;
        text-align: left;
        margin-bottom: 60px;
    }
}
