@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600&family=Fondamento&display=swap');
body {
  font-family: 'Figtree', sans-serif;
}

.carousel-indicators {
    :is(li){
      background-color: #3431AC;
    }
  }

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: navy;
    padding: 4px;
    border-radius: 17px;
    background-size: 65%;

}

.carousel-control-next, .carousel-control-prev {
    width: 9%;
}

.carousel-indicators [data-bs-target] {
    background-color: navy;
}

.carousel-indicators {
    margin-bottom: -2.4rem;
}



@media only screen and (max-width: 600px) {
    .carousel-control-next, .carousel-control-prev {
        width: 16%;
    }
}
