@import '@fontsource-variable/roboto-flex';

body {
  font-family: 'Roboto Flex Variable', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.carousel-indicators {
  display: none!important;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    background-color: navy;
    padding: 4px;
    border-radius: 17px;
    background-size: 65%!important;
}

.carousel-control-next, .carousel-control-prev {
    width: 9%;
}

.transition-height {
    transition: height 0.5s ease, opacity 0.5s ease;
    height: auto;
    opacity: 1;
  }
  
  .hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }


  input:-internal-autofill-selected{
    background-color: transparent!important;
  }

  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-1phv4hy-MuiInputBase-root-MuiOutlinedInput-root:focus-visible{
    outline: 0;
    background-color: white!important;
  }

  .css-17cvodc-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
    border-radius: 40px;
    height: 12px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .carousel-control-next, .carousel-control-prev {
        width: 16%;
    }
}
